.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
Sources/_SFUtils/cmake_install.cmake
Sources/_SFUtils/CMakeCache.txt
Sources/_SFUtils/CMakeFiles/3.29.3/CMakeCCompiler.cmake
Sources/_SFUtils/CMakeFiles/3.29.3/CMakeCXXCompiler.cmake
/Sources/_SFUtils/CMakeFiles
Sources/_SFUtils/CMakeScripts/ReRunCMake.make

build/
/.vscode
*.o
/cmake-build-debug
/.idea
/benchmark
/Tests/Benchmarks/cmake-build-debug
/Tests/Benchmarks/cmake-build-debug
Tests/Benchmarks/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdC/CMakeCCompilerId.c
/Tests/Benchmarks/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdC
